<p>
  <strong>User:</strong>
  <%= @learning.user_id %>
</p>
<p>
  <strong>Description:</strong>
  <%= @learning.course_id %>
</p>
<p>
  <strong>Status:</strong>
  <%= @learning.status %>
</p>

  <%= link_to 'Back' %>