  <!-- Contact Section -->
  <header class="intro">

      <div class="intro-body">
        <%= render  'layouts/navigation'%>

          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h2 class="brand-heading">Contact Mentority</h2>
                      <p class="intro-text">Bla bla bla bla bla!.<br>bla bla bla bla</p>
                  </div>
              </div>
          </div>
      </div>
  </header>
