<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Mentority</h1>
                        <p class="intro-text">A once-in-a-lifetime opportunity to be an IT-Specialist.<br>Created by LITS.</p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <a class="btn btn-default" href="<%= new_user_registration_path(role: :mentor) %>">Become a Mentor</a>
                    <a class="btn btn-primary" href="<%= new_user_registration_path(role: :student) %>">Become a Student</a>
                  </di>
                </div>
            </div>
        </div>
    </header>
